@using iakademi43_proje.Models

@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/default_layout.cshtml";
}

<!-- breadcrumb area start  -->
<div id="sp-breadcrumb-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12" id="sp-breadcrumb">
                <div class="sp-column ">
                    <div class="sp-module ">
                        <div class="sp-module-content">
                            <ul class="breadcrumb">
                                <li class="active"><a href="">SEPET BİLGİLERİNİZ</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb area End  -->


@using (Html.BeginForm())
{
<!-- wishlist area start  -->
<div class="wishlist-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 ">
                <div class="cart-wrapper table-responsive">
                    <table class="shop_table cart ">
                        <thead>
                            <tr>
                                <th colspan="3" class="product-name">ÜRÜN ADI</th>
                                <th class="product-quantity">FİYAT</th>
                                <th class="product-price">KDV</th>
                                <th class="product-price">ADET</th>
                                <th class="product-subtotal">TOPLAM FİYAT(Kdv Dahil)</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in ViewBag.Sepetim as IList<cls_siparisler>)
                            {
                                <tr class="cart_item">
                                    <td class="remove-product">
                                        <a title="Ürünü Sil" class="remove" href="@Url.Action("Cart",new { scid = item.ProductID })"><span class="icon-close"></span></a>
                                    </td>
                                    <td class="product-thumbnail">
                                        <a href="/Home/Detaylar/@item.ProductID"><img width="114" height="250" alt="04" class="attachment-shop_thumbnail wp-post-image" src="~/Content/resimler/@item.PhotoPath"></a>
                                    </td>
                                    <td class="product-name">
                                        <a href="/Home/Detaylar/@item.ProductID">@item.ProductName</a>
                                    </td>
                                    <td class="product-price">
                                        <span class="amount">@item.Price</span>
                                    </td>
                                    <td class="product-price">
                                        <span class="amount">@item.Kdv</span>
                                    </td>
                                    <td class="product-price">
                                        <span class="amount">@item.adet</span>
                                    </td>

                                    @{
                                        decimal kdvdahil = 0;
                                        decimal kdvdahilyuvarla = 0;

                                        kdvdahil = (((item.Kdv * item.Price) / 100) + item.Price) * item.adet;
                                        kdvdahilyuvarla = Math.Round(kdvdahil, 2);

                                        <td class="product-subtotal">
                                            <span class="amount">@kdvdahilyuvarla</span>
                                        </td>
                                    }



                                </tr>
                                        }





                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 "></div>
                    <div class="col-lg-6 col-md-6 col-sm-6 ">
                        <div class="cart_totals">
                            <h2>SEPET ÖZETİ</h2>
                            <div class="total_table">
                                <table class="table-responsive">
                                    <tbody>







                                        @{
                                            int i = 0;
                                            int toplamadet = 0;
                                            decimal toplamprice = 0;
                                            decimal toplamadet_price_kdvli = 0;
                                            decimal toplam_price_kdvsiz = 0;

                                                foreach (var item in ViewBag.sepet_tablo_detay as List<cls_siparisler>)
                                                {
                                                    toplamadet += item.adet;
                                                    toplamprice += item.Price;
                                                    toplamadet_price_kdvli += (((item.Kdv * item.Price) / 100) + item.Price) * item.adet;

                                                    toplam_price_kdvsiz += item.Price * item.adet;
                                                    i++; //çeşit,kalem
                                                }

                                                ViewBag.kalem = i;
                                                ViewBag.toplamadet = toplamadet;
                                                ViewBag.sepettutarkdvsiz = Math.Round(toplam_price_kdvsiz, 2);
                                                ViewBag.sepettutarkdvli = Math.Round(toplamadet_price_kdvli, 2);

                                                ViewBag.toplamkdv = Math.Round(toplamadet_price_kdvli, 2) - Math.Round(toplam_price_kdvsiz);

                                            }






                                        <tr class="cart-subtotal">
                                            <th>Tutar</th>
                                            <td><span class="amount">@ViewBag.sepettutarkdvsiz TL</span></td>
                                        </tr>
                                        <tr class="shipping">
                                            <th>Kdv</th>
                                            <td>@ViewBag.toplamkdv TL</td>
                                        </tr>
                                        <tr class="order-total">
                                            <th>Toplam</th>
                                            <td><strong><span class="amount">@ViewBag.sepettutarkdvli TL</span></strong> </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="submit_crt">

                                    <a href="@Url.Action("order","Home")" title="Sonraki Adıma Geç">
                                        <input type="button" name="name" value="Sonrakİ Adıma Geç"  class="update_cart"/>
                                    </a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- wishlist area end  -->
}