@using iakademi43_proje.Models
@model List<vw_siparislerim>

@{
    ViewBag.Title = "Siparislerim";
    Layout = "~/Views/Shared/default_layout.cshtml";
}


<!-- breadcrumb area start  -->
<div id="sp-breadcrumb-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12" id="sp-breadcrumb">
                <div class="sp-column ">
                    <div class="sp-module ">
                        <div class="sp-module-content">
                            <ul class="breadcrumb">
                                <li class="active"><a href="">SAYIN   <span style="background-color:red;color:white;font-size:22px;">@ViewBag.kisiadi</span>  SİPARİŞ BİLGİLERİNİZ LİSTELENMİŞTİR</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb area End  -->
<!-- wishlist area start  -->
<div class="wishlist-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 ">
                <div class="cart-wrapper table-responsive">
                    <table class="shop_table cart ">
                        <thead>
                            <tr>
                                <th colspan="3" class="product-name">ÜRÜN ADI</th>
                                <th class="product-quantity">FİYAT</th>
                                <th class="product-price">TARİH</th>
                                <th class="product-price">SİPARİŞNO</th>
                                <th class="product-subtotal">ADET</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr class="cart_item">
                                   <td class="product-name">
                                       <a href="/Home/Detaylar/@item.ProductID">@item.ProductID</a>
                                   </td>
                                    <td class="product-thumbnail">
                                        <a href="/Home/Detaylar/@item.ProductID"><img width="114" height="250" alt="04" class="attachment-shop_thumbnail wp-post-image" src="~/Content/resimler/@item.PhotoPath"></a>
                                    </td>
                                    <td class="product-name">
                                        <a href="/Home/Detaylar/@item.ProductID">@item.ProductName</a>
                                    </td>
                                    <td class="product-price">
                                        <span class="amount">@item.Price</span>
                                    </td>
                                    <td class="product-price">
                                        <span class="amount">@item.orderDate</span>
                                    </td>
                                    <td class="product-price">
                                        <span class="amount">@item.orderGroupGUID</span>
                                    </td>
                                    <td class="product-price">
                                        <span class="amount">@item.quantity</span>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- wishlist area end  -->
